* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
ul {
  padding-left: 0;
}
a {
  text-decoration: none;
  color: black;
}
input:focus,textarea:focus {
  outline: none;
}
input,textarea {
  border: 1px solid rgb(173, 173, 173);
  background-color: rgb(255, 255, 255);
  border-radius: 0.4rem;
}
.wrap {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
}
header {
  border-bottom: 4px solid #d0c28a;
  padding: 1rem;
  
}
.logo {
  padding-top: 20px;
  padding-bottom: 20px;
}
.header-inner {
  display: block;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}
header ul li:nth-child(2) {
  padding-bottom: 0;
}
header ul li {
  display: block;
  padding: 0 0rem 1.1rem 0rem;
}
header ul li a {
  color: black;
  text-decoration: none;
}
header ul li a:hover {
  text-decoration: underline;
}
.ads-home-page {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
  justify-content: center;
  gap: 2rem;
  padding-top: 4rem;
}
.ad-item {
  border: 2px solid rgb(229, 229, 229);
}
.ad-item:hover {
  border: 2px solid #d0c28a;
  box-shadow: 0 0 4px rgb(192, 192, 192);
}
.ads-home-page .ads-img {
  width: 100%;
  max-width: 100%;
  height: 310px;
  object-fit: cover;
}
.ads-home-page  .ads-info-box  {
  padding: 0.5rem;
}

.ads-page-inner {
  display: block;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}
.ads-page-inner .info-wrapper {
  padding-left: 3rem;
  
}
.ads-page-inner .image-wrapper img{
  max-width: 100%;
  height: 400px;
  width: 100%;
}
.ads-page-inner .btn-delete{
  margin-top: 5rem;
  display: inline-block;
  padding: 1rem;
  color: brown;
  cursor: pointer;
  border: none;
}
.ads-page-inner .btn-delete:hover {
  text-decoration: underline;
  color: #fff;
  background-color: brown;
}
.form-add-item form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  
}
.form-add-item form input,.form-add-item form button {
  padding: 0.6rem 0.4rem;
}
.form-add-item form button {
  cursor: pointer;
}
.form-add-item form input,.form-add-item form textarea {
  margin-bottom: 1rem;
}
.response {
  padding: 0 1rem;
}
@media (min-width:992px) {
  .header-inner {
    display: flex;
  }
  .wrap {
    max-width: 1500px;
  }
  header ul li {
    display: inline-block;
    padding: 0 0.6rem;
  }
  .ads-page-inner {
    display: flex;
    
  }
  .ads-page-inner .info-wrapper { 
    width: 50%;
  }
  .ads-page-inner .info-wrapper {
    width: 50%;
    
  }
}